---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Skills from "../components/Skills.astro";
import WorkInterest from "../components/WorkInterest.astro";
import Education from "../components/Education.astro";
import Awards from "../components/Awards.astro";
import Proyects from "../components/Proyects.astro";
import Testimonios from "../components/Testimonios.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

const softSkills = [
  { name: "Teamwork" },
  { name: "Effective Communication" },
  { name: "Problem Solving" },
  { name: "Adaptability" },
  { name: "Critical Thinking" },
];

const technicalSkills = [
  { name: "DOM and Astro" },
  { name: "React / Next.js" },
  { name: "API Integration" },
  { name: "Python / Django" },
  { name: "Git and Github" },
];
---

<Layout title="Oscar Alegría - Full-Stack Developer">
  <Header />

  <main>
    <Hero
      name="Oscar Alegría"
      title="Full-Stack Developer"
      description="I specialize in creating responsive, efficient, and visually appealing web interfaces. My goal is to combine design precision with clean and structured code to deliver seamless digital experiences. I’m continuously improving my technical and creative skills to bring ideas to life through modern web technologies."
      imageUrl="/OA.jpeg"
    />

    <AboutMe
      title="About Me"
      description=" I am a passionate Full-Stack developer with a strong interest in technology and continuous learning. I enjoy creating efficient and elegant solutions by combining intuitive interface design with a solid, functional back-end. I am practical, adaptable, and results-driven, always seeking to optimize processes and deliver value in every project I work on. I thrive both in collaborative environments and when working independently, approaching challenges with creativity and critical thinking."
    />

    <Skills softSkills={softSkills} technicalSkills={technicalSkills} />
    <WorkInterest />
    <section id="education">
      <Education />
    </section>
    <Awards />
    <section id="proyects">
      <Proyects />
    </section>
    <Testimonios />
    <section id="contact">
      <Contact />
    </section>
    <Footer />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
</style>
