---


interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Portfolio de Oscar Alegría - Full-Stack Developer",
} = Astro.props;
import "@fontsource/k2d";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>OA-Portfolio</title>
  </head>
  <body>
    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "K2D", sans-serif;
    background: whitesmoke;
    color: #fff;
    min-height: 100vh;
  }
</style>
